body{
    background-color: aqua;
}
.square-box {
    max-width:600px;
    min-height: 300px;
    width: 100%;
    border-radius: 4%;
    background-color: white;
}

#new-quote-btn {
   position:relative;
   left: 65%;
   top: 220px;
}

#navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 3s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
}

#twitter-symbol {
    position:relative;
    right: 17%;
    top: 220px;
 }
 #btnsignup{
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px;
 }
 #btnlogin{
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px;
 }
 #btncontactme{
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px;
 }