body{
    background-color: aqua;
}
.square-box {
    max-width:600px;
    min-height: 300px;
    border: 6px solid black;
    width: 100%;
    border-radius: 5%;
}

#new-quote-btn {
   position:relative;
   left: 75%;
   top: 220px;
}